<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>common-libs</id>
            <username>JenkinsPipelinesArtifacts</username>
            <password>6iklx7gl6hwcf7v2eohyamkq467b6i3kctnljyha2lzgqidevniq</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central</id>
            <url>https://repo.maven.apache.org/maven2/</url>
            <mirrorOf>!common-libs</mirrorOf>
        </mirror>
        <mirror>
            <id>common-libs</id>
            <url>https://pkgs.dev.azure.com/JenkinsPipelinesArtifacts/ndm-evolutionary/_packaging/common-libs/maven/v1</url>
            <mirrorOf>common-libs,!*</mirrorOf>
        </mirror>
    </mirrors>
</settings>