<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>withArtifactory</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>libraries</id>
                    <name>ndm-evolutionary</name>
                    <url>https://pkgs.dev.azure.com/JenkinsPipelinesArtifacts/ndm-evolutionary/_packaging/libraries/maven/v1</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <servers>
        <server>
            <id>libraries</id>
            <username>JenkinsPipelinesArtifacts</username>
            <password>${env.ARTIFACTORY_TOKEN}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central</id>
            <url>https://repo.maven.apache.org/maven2/</url>
            <mirrorOf>!libraries</mirrorOf>
        </mirror>
        <mirror>
            <id>artifactory_in_cloud</id>
            <url>https://pkgs.dev.azure.com/JenkinsPipelinesArtifacts/ndm-evolutionary/_packaging/libraries/maven/v1</url>
            <mirrorOf>libraries,!*</mirrorOf>
        </mirror>
    </mirrors>
    <activeProfiles>
        <activeProfile>withArtifactory</activeProfile>
    </activeProfiles>
</settings>