<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>ndm-evolutionary</id>
            <username>ndm-evolutionary</username>
            <password>${env.ARTIFACTORY_TOKEN}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central</id>
            <url>https://repo.maven.apache.org/maven2/</url>
            <mirrorOf>!ndm-evolutionary</mirrorOf>
        </mirror>
        <mirror>
            <id>ndm-evolutionary</id>
            <url>https://pkgs.dev.azure.com/ndm-evolutionary/_packaging/ndm-evolutionary/maven/v1</url>
            <mirrorOf>ndm-evolutionary,!*</mirrorOf>
        </mirror>
    </mirrors>
</settings>