---
openapi: 3.0.3
info:
  version: 0.0.1
  title: "NDM OpenAPI test models"
  x-audience: company-internal
  x-api-id: 33d5034d-5b24-4ed7-8c7c-d946e973dd42
servers:
  - url: https://accelerator-api.ndm.postnord.com
  - url: http://localhost:8080
paths:
  /quotes:
    get:
      tags:
        - Items
      operationId: listItems
      responses:
        '200':
          description: List of all items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ItemDetailsList'
        default:
          $ref: '#/components/responses/Problem'
components:
  schemas:
    ItemStatus:
      type: string
      x-extensible-enum:
        - ACTIVE
        - INACTIVE
        - TERMINATED
    ItemProperty:
      type: string
      x-extensible-enum:
        - CREATED
        - APPROVED
        - PUBLISHED
      nullable: true
    Item:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 120
        description:
          type: string
        tags:
          type: array
          items:
            type: string
        status:
          $ref: '#/components/schemas/ItemStatus'
        properties:
          type: array
          items:
            $ref: '#/components/schemas/ItemProperty'
          uniqueItems: true
          minItems: 1
          maxItems: 100
        object_type:
          type: string
          x-extensible-enum:
            - ITEM
            - ITEM_DETAILS
      required:
        - name
        - status
      discriminator:
        propertyName: object_type
        mapping:
          ITEM: '#/components/schemas/Item'
          ITEM_DETAILS: '#/components/schemas/ItemDetails'
    ItemDetails:
      allOf:
        - $ref: '#/components/schemas/Item'
      type: object
      properties:
        id:
          type: string
          format: uuid
        additional_data:
          type: object
          additionalProperties: true
          nullable: true
        created_at:
          $ref: '#/components/schemas/DateAndTime'
        updated_at:
          $ref: '#/components/schemas/DateAndTime'
      required:
        - id
        - created_at
        - updated_at
    ItemDetailsList:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/ItemDetails'
        next:
          type: string
    Problem:
      type: object
      properties:
        type:
          type: string
          format: uri
          default: 'about:blank'
        title:
          type: string
        status:
          type: integer
          format: int32
          minimum: 100
          maximum: 600
          exclusiveMaximum: true
        detail:
          type: string
        instance:
          type: string
          format: uri
        parameters:
          type: object
          additionalProperties: true
    DateAndTime:
      type: string
      format: date-time
