{{#isArray}} @NdmGenericCollection(message = "{{baseName}} element must not be null", nullAllowed = true, emptyAllowed = true, nullElementsAllowed = {{items.isNullable}}){{#items.vendorExtensions.x-extensible-enum}}{{#-first}} @NdmCollectionAllowedStrings(values = {"{{{.}}}"{{/-first}}{{^-first}}, "{{{.}}}"{{/-first}}{{#-last}}}, message = "{{baseName}} value not allowed", nullAllowed = true, emptyAllowed = true){{/-last}}{{/items.vendorExtensions.x-extensible-enum}}{{/isArray}}