{{#isMap}} @NdmGenericMap(message = "{{baseName}} element must not be null", nullAllowed = true, emptyAllowed = true, nullKeysAllowed = {{additionalProperties.isNullable}}, nullValuesAllowed = {{additionalProperties.isNullable}}){{/isMap}}