{{#vendorExtensions.x-extensible-enum}}{{#-first}} @NdmAllowedStrings(values = {"{{{.}}}"{{/-first}}{{^-first}}, "{{{.}}}"{{/-first}}{{#-last}}}, message = "{{baseName}} value not allowed", nullAllowed = true){{/-last}}{{/vendorExtensions.x-extensible-enum}}